.row {
    width: 720px;
    height: 90px;
    background-color: #333333;
    border-color: #fff;
}
.column {
    width: 90px;
    height: 90px;
    /*background-color: green;*/
    display: inline-block;
}
.white-cell {
	background-color: #dddddd;
}
#master-div {
	width: 720px;
	height: 720px;
	border: 2px solid black;
}
