div {
	font-size: 7vw;
	text-align: center;
	vertical-align: middle;
	}
.row {
    width: 80vw;
    height: 10vw;
    background-color: #999999;
    border-color: #fff;
}
.column {
    width: 10vw;
    height: 10vw;
    /*background-color: #bada55;*/
    display: inline-block;
}
.white-cell {
	background-color: #eeeeee;
}
#master-div {
	width: 80vw;
	height: 80vw;
	border: 2px solid black;
}
.lighty-uppy-piece {
	background-color: #fb1;
}
